/* Hide scrollbar for sidebar UI specifically */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* For Firefox */
.sidebar-scrollbar {
  scrollbar-width: none;
}

/* For IE and Edge */
.sidebar-scrollbar {
  -ms-overflow-style: none;
}
